@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	::-moz-selection {
		@apply bg-indigo-500 text-white;
	}
	::selection {
		@apply bg-indigo-500 text-white;
	}

	*:focus, button:focus {
		@apply outline-none ring-2 ring-indigo-500 ring-opacity-50;
	}

	img {
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none;

		-webkit-user-drag: none;
		-khtml-user-drag: none;
		-moz-user-drag: none;
		-o-user-drag: none;
		user-drag: none;
	}

	h1 {
		@apply text-5xl font-light;
	}
	h2 {
		@apply text-xl font-medium;
	}
	p {
		@apply leading-relaxed;
	}
}

@layer components {
	.tabs {
		@apply p-8 font-medium text-gray-600 tracking-wider;
	}
	.tab {
		@apply px-6 py-3 border-b-2 inline-flex border-gray-200 hover:border-gray-600 cursor-pointer rounded-t-lg transition-colors duration-500;
	}
	.tab.active {
		@apply bg-gray-100 border-indigo-500 text-indigo-500;
	}

	form {
		@apply mx-8 bg-gray-100 rounded-lg p-8 flex flex-col;
	}
	input[type=text], input[type=email], input[type=password], input[type=number] {
		@apply w-full bg-white rounded border-2 border-gray-300 focus:border-indigo-500 text-gray-700 py-2 px-3 transition-colors;
	}
	label {
		@apply mb-1 text-left text-sm text-gray-600;
	}
	.btn-primary {
		@apply text-white bg-indigo-500 border-0 py-2 px-8 hover:bg-indigo-600 rounded text-lg;
	}

}

@media (min-width: 640px) { /* sm */
}

@media (min-width: 768px) { /* md */
}

@media (min-width: 1024px) { /* lg */
}

@media (min-width: 1280px) { /* xl */
}